header, #menu, section, main  {
    background-color: rgb(0,191,255);
}

/* section, main {
    border-radius: 10px;
    font-size: 20px;
    padding: 20px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    input {
        height: 25px;
        width: 170px;
        font-size: 20px;
    }

    select, button {
        height: 30px;
        font-size: 18px;
        font-weight: bold;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
    }

    button {
        padding: 0 10px 0 10px;
    }
} */