header, #menu, section, main {
    background-color: rgb(255,99,71);
    color: rgb(255, 255, 255);
}

#links_internos a {
    color: rgb(255, 255, 255);
}

section, main {
    border-radius: 10px;
    font-size: 20px;
    padding: 20px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    input {
        height: 25px;
        width: 170px;
        font-size: 20px;
    }

    select, button {
        height: 30px;
        font-size: 18px;
        font-weight: bold;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
    }

    button {
        padding: 0 10px 0 10px;
        

    }
}

#bloco_classificacao_temperatura {
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    display: block;

    img {
        height: 100px;
    }
}

.bloco_invisivel {
    display: none;
}

.bloco_visivel {
    display: block;
}

#conversao {
    font-size: 25px;
}

#pontos_fusao_ebulicao table {
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

    td {
        border: 3px solid rgb(0, 0, 0);
        padding: 5px;
    }
}

#nome_coluna td {
    background-color: rgb(105,105,105);
    color: rgb(255, 255, 255);
    font-weight: bold;
}