@import url('https://fonts.googleapis.com/css2?family=Convergence&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Convergence", sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 25px;
    margin-top: -7px;
    padding: 15px 0;
}

#titulo {
    display: flex;
    flex-direction: column;
}

dialog {
    position: fixed;
    margin: 27px 0 0 5px;
    font-size: 18px;
    border-radius: 10px;
    padding-top: 5.5px;

    img {
        height: 35px;
    }
}

@media screen and (max-width: 768px) {
    dialog {
        margin-top: 23px;

        img {
            height: 25px;
        }
    }
}

#barra_menu {
    cursor: pointer;
}

.menu_fechado {
    display: none;
}

.menu_aberto {
    position: absolute;
    padding-bottom: 10px;
    width: 340px;

    details {
        margin-left: 30px;

        a {
            text-decoration: none;
            color: rgb(255, 255, 255);
        }
    }

    nav {
        margin-left: 18px;
    }
}

#conteudo_pagina {
    padding: 16px;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}

section, main {
    border-radius: 10px;
    font-size: 20px;
    padding: 20px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    input {
        height: 25px;
        width: 170px;
        font-size: 20px;
    }

    select, button {
        height: 30px;
        font-size: 18px;
        font-weight: bold;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
    }

    button {
        padding: 0 10px 0 10px;
    }
}

#conversao {
    font-size: 25px;
}

section, main, .nome_sessao {
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(0, 0, 0);
}

.nome_sessao {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 31px;
    font-weight: bold;
    padding: 20px;
    border: 3px solid rgb(0, 0, 0);
}