header {
    background-color: rgb(173,216,230);
}

section, main {
    background-color: rgb(173,216,230);
    border-radius: 10px;
    font-size: 20px;
    padding: 20px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#ferramentas {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.label_ferramentas {
    background-color: rgb(255, 255, 255);
    font-size: 31px;
    font-weight: bold;
    padding: 20px;
    border: 3px solid rgb(0, 0, 0);
}

#conversores, #calculadoras {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
}

@media screen and (max-width: 768px) {
    #conversores, #calculadoras {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }
}

.ferramenta {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    height: 131.5px;
    width: 150px;
    background-color: rgb(255, 255, 255);
}

.ferramenta img {
    height: 100px;
}

.ferramenta span {
    text-decoration: none;
    font-weight: bold;
}

#conversor_velocidade span {
    color: rgb(0,191,255);
}

#conversor_temperatura span {
    color: rgb(255, 0, 0);
}

#conversor_moedas span {
    color: rgb(255,215,0);
}

#calculadora_media span {
    color: rgb(79,79,79);
}

#calculadora_juros span {
    color: rgb(255,165,0);
}

#calculadora_imc span {
    color: rgb(244,164,96);
}

footer {
    padding: 20px;
}